/* style.css

This is the style sheet for the etchy-sketchy page

2017-01-03  GH  Created grid-container, grid-square, clear-button
2017-01-04  GH  Removed height and width from grid-square. They will be set
                dynamically in etchy-sketchy.js
*/

#clear-button {
  width:  100px;
  margin: 20px auto;
  padding: 0;
}

#clear-button:hover {
  box-shadow: inset 0 0 10px #000000;
}

#grid-container {
  height: 960px;
  width: 960px;
  border: solid;
  border-radius: 5px;
  margin: 20px auto;
  padding: 0;
}


.grid-square {
  float:left;
  border: none;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
